@model IEnumerable<Trident.Models.Member>
@{
    ViewBag.Title = "New";
}

@section scripts
{
    <link href="~/Content/members.css" rel="stylesheet" asp-file-version="true" />
}

<div class="banner flex-container AddBanner">
    <h2 class="banner-title wrapper">Add Character</h2>
</div>

<div class="container body-content">
    <form method="post" action="/Character/Create">
        <div class="form-group">
            <label for="CharacterMember_New">Belongs to:</label>
            <select class="form-control" id="CharacterMember_New" name="CharacterMember_New">
                @foreach (var member in Model)
                {
                    <option value="@member.MemberID">@member.MemberName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="CharacterName_New">Name</label>
            <input type="text" class="form-control" placeholder="Character name" id="CharacterName_New" name="CharacterName_New">
            <p class="form-group error">@TempData["characterNameError"]</p>
        </div>
        <div class="form-group">
            <label for="CharacterWeapon_New">Character Weapon</label>
            <select class="form-control" id="CharacterWeapon_New" name="CharacterWeapon_New">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Character Treasure</label>
            <select class="form-control" id="CharacterTreasure_New" name="CharacterTreasure_New">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>