@{
    ViewBag.Title = "Home Page";
}

@*Cool Heading Animation CodePen from
https://codepen.io/jdfd/pen/eVodJz*@
<div class="main">
    <h1 class="main-heading">
        <span class="main-heading-primary">Trident</span>
        <span class="main-heading-secondary">Guild Tool</span>
    </h1>
</div>