@{
    ViewBag.Title = "Home Page";
}

@*Cool Heading Animation CodePen from
    https://codepen.io/jdfd/pen/eVodJz*@
@*<div class="main">
        <h1 class="main-heading">
            <span class="main-heading-primary">Trident</span>
            <span class="main-heading-secondary">Guild Tool</span>
        </h1>
    </div>*@

<!-- Main Graphic -->
<div id="indexBanner" class="flexContainer">
    <div id="bannerText" class="pageWrapper">
        Strong alone, <br />
        unstoppable together, <br />
        we are... <br />
        <span class="highlight">Trident</span>
    </div>
</div>
<!-- Welcome To Trident Section -->
<main id="mainContent">
    <div class="pageWrapper wrapper">
        <div id="welcomeSection" class="flexContainer">
            <div id="welcome">
                <h2 class="title">Welcome to Trident!</h2>
                <div id="welcomeText">
                    <p>
                        Trident is a strategic management application built for personal use by Jing Cheng. Also, it is the
                        name of a guild in the game: King's Raid in which the application was built for. It
                        is made in ASP.NET (MVC5/EF6) using C# and MySQL. This application meets the need of running a
                        large guild and organizing boss runs within the guild. Features of this application include: Member list,
                        Member's character list and Team organization.
                        <br />
                        <br />
                        This application will help minimize the weaknesses of individual members as
                        well as maximize their strengths.
                        <br />
                        <br />
                        Follow us on our journey.
                    </p>
                </div>
                <br />
            </div>
            <div id="welcomeImg">
                <img class="largePic" src="../imgs/trident_logo.jpg" alt="Trident Logo">
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <!--Features Section-->
    <div id="featuresSection">
        <h2 class="hidden">Features</h2>
        <div id="features" class="flexContainer pageWrapper">
            <div id="trackMembers" class="feature flexContainer">
                <h3>Track Members</h3>
                <div class="featureImgandText">
                    <img src="../imgs/member.png" alt="Character Portrait">
                    <div class="featureImgText">
                        <p>Track member details such as name, level and specialty.</p>
                    </div>
                </div>
            </div>
            <div id="setCharacters" class="feature flexContainer">
                <h3>Character List</h3>
                <div class="featureImgandText">
                    <img src="../imgs/characters.png" alt="Character List">
                    <div class="featureImgText">
                        <p>Set member's characters and keep track of member progress.</p>
                    </div>
                </div>
            </div>
            <div id="setTeams" class="feature flexContainer">
                <h3>Set Teams</h3>
                <div class="featureImgandText">
                    <img src="../imgs/conquest.png" alt="Guild Bosses">
                    <div class="featureImgText">
                        <p>Create teams for weekly guild raids. Stay organized and track team progress.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div id="phase1Banner" class="flexContainer">
        <div id="phase1BannerText" class="pageWrapper">
            Phase One
            <br />
            <span class="highlight">Wireframe Prototyping</span>
        </div>
    </div>
    <div class="pageWrapper wrapper">
        <div id="caseStudySection" class="flexContainer">
            <div id="welcome">
                <h2 class="title">Development Planning</h2>
                <div id="welcomeText">
                    <p>
                        To start off the project, I structured the database schema and mapped out
                        how the back-end of the application would work. Afterwards, I created wireframes 
                        and mocked up my vision of the application.
                        <br />
                        <br />
                        For this application, teams have a list of members in them whereas members have
                        a list of characters associated with them. By combining these three relationships
                        information is neatly organized.
                        <br />
                        <br />
                        Fun fact, upon the creation of this application teams were not a feature. Originally,
                        members and their characters were the main interest of the application but it has since
                        been extended to encompass so.
                    </p>
                </div>
                <br />
            </div>
            <div id="welcomeImg">
                <img class="largeSquarePic" src="../imgs/singlememberview.png" alt="Wireframe">
            </div>
        </div>
    </div>
</main>