@*@model IEnumerable<Trident.Models.Member>*@
@model Trident.Models.ViewModels.TeamEdit
@{
    ViewBag.Title = "New";
}
<div class="container body-content">
    <h2>New Team</h2>
    <form method="post" action="/Team/Create">
        <div class="form-group">
            <label for="TeamName_New">Team Name</label>
            <input type="text" class="form-control" placeholder="Enter Team Name" id="TeamName_New" name="TeamName_New">
        </div>
        <div class="form-group">
            <label for="TeamRep_New">Team Leader</label>
            <select class="form-control" id="TeamRep_New" name="TeamRep_New">
                <option value="Undecided">Undecided</option>
                @foreach (var member in Model.Members)
                {
                    <option value="@member.MemberName">@member.MemberName</option>
                }
            </select>
            @*<input type="text" class="form-control" placeholder="Team Leader" id="TeamRep_New" name="TeamRep_New">*@
        </div>
        <div class="form-group">
            <label for="TeamType_New">Team Type</label>
            <select class="form-control" id="TeamType_New" name="TeamType_New">
                <option value="Tyrfas">Tyrfas</option>
                <option value="Lakreil">Lakreil</option>
                <option value="Velkazar">Velkazar</option>
                <option value="Flex">Flex</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>