body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
}

/*Banners*/
.banner-title{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: left;
    align-self: center;
    line-height: 1;
}

.banner{
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center;
    width: 100%;
    height: 250px;
    color: white;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
}

.error{
    color: red;
}

.alert{
    margin-top: 2em !important;
}

.alert-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px
}

.validation-summary-valid {
    display: none !important;
}

.back-to-list{
    margin-top: 4em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    /*Default margin-top is 4em for bootstrap*/
    margin-top: 2em; 
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#addNewMember{
    margin-bottom: 10px;
}

#characterList{
    margin-top: 3em;
}

/*Cool animation CodePen from https://codepen.io/jdfd/pen/eVodJz*/
.main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-heading {
    color: #777;
    text-transform: uppercase;
}

.main-heading-primary {
    display: block;
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInLeft 1s ease-out;
}

.main-heading-secondary {
    font-family: sans-serif;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 13px;
    color: hotpink;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
/*End of Cool Heading Animation CodePen*/

/*DEFAULT OVERRIDES*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*Test font for now??*/

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    color: #222629;
}

a {
    text-decoration: none;
}

ul.menu {
    margin: 0;
}

/*GENERAL CLASSES*/
.pageWrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    padding: 100px 150px;
}

.hidden {
    position: absolute;
    left: -10000px;
}

.flexContainer {
    display: flex;
    flex-flow: row wrap;
}

.menu {
    list-style: none;
    padding: 0;
}

    .menu li {
        display: inline-block;
    }

        .menu li:not(:first-child) {
            margin-left: 40px;
        }

.highlight {
    color: #ffb348;
}

.buttonMain {
    color: black;
    background-color: #ffe691;
    background-image: linear-gradient( to right, rgba(255, 173, 114, 0.5), rgba(255, 190, 114, 0.5), rgba(255, 230, 145, 0.5) );
}

.button {
    border-radius: 5px;
}

.button {
    font-weight: bold;
    padding: 10px;
    margin-right: 10px;
    display: inline-block;
    transition: 0.25s all;
    text-transform: uppercase;
    border: none;
}

    .button:hover {
        background-color: #e51c26;
        text-decoration: none;
    }

.buttonContainer {
    display: block;
    margin: 20px 0;
}

/*MEDIA QUERIES*/

@media screen and (min-width: 1116px) {
    .nav-tog-label {
        display: none;
    }

    #header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 1fr);
    }

    #notifContainer {
        display: relative;
        right: 100px;
        top: 80px;
        width: 30px;
    }

    #navbarDropdown {
        position: absolute;
        width: 30px;
        height: auto;
    }

    #dropdownMenu {
        position: relative;
        top: 24px;
        right: 55px;
        width: 200px;
    }

    #siteLogo {
        margin: 0;
        padding: 0;
        grid-column: 2 / 3;
    }

    #mainNav {
        grid-column: 3 / 4;
        all: unset;
        display: flex;
        align-items: flex-end;
        position: relative;
        bottom: 0;
    }

    #login {
        grid-column: 3 / 4;
        position: relative;
        left: 50px;
        display: flex;
        align-items: flex-start;
    }

    #mainNav ul {
        display: flex;
        align-items: flex-end;
    }

    #mainNav a {
        opacity: 1;
    }
}

/*CSS for Phones*/
@media screen and (max-width: 600px) {
}
