body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#addNewMember{
    margin-bottom: 10px;
}

#characterList{
    margin-top: 3em;
}

/*Cool animation CodePen from https://codepen.io/jdfd/pen/eVodJz*/
.main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-heading {
    color: #777;
    text-transform: uppercase;
}

.main-heading-primary {
    display: block;
    font-size: 5.0rem;
    font-weight: 400;
    letter-spacing: 15px;
    animation: moveInLeft 1s ease-out;
}

.main-heading-secondary {
    font-family: sans-serif;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 13px;
    color: hotpink;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}
/*End of Cool Heading Animation CodePen*/
